@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.clean_fix::after {
  content: "";
  display: block;
  clear: both;
}

.init_a, .init_a_buttom, .init_a_hblue, .head_right .sp_li .block_qr {
  text-decoration: none;
  color: #666;
}

.init_a_blue {
  text-decoration: none;
  color: #4385f5;
}

.init_a_white {
  text-decoration: none;
  color: #fff;
}

.init_a_hblue:hover, .head_right .sp_li .block_qr:hover {
  color: #4385f5;
}

.init_a_buttom {
  background-color: #4385f5;
  color: #ffffff;
  border-radius: 2px;
  padding: 3px 10px;
}

select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none;
}

.box {
  width: 100%;
  line-height: 1;
}

.top {
  font-size: 13px;
  color: #666;
}

.top_header {
  background-color: #f5f5f5;
  padding-left: 9%;
  height: 42px;
}

.head_left {
  width: 33%;
  float: left;
  line-height: 42px;
}
.head_left a {
  margin-right: 13px;
}
.head_left .login {
  color: #4385f5;
}

.head_right {
  float: left;
  margin-top: 13px;
}
.head_right li {
  list-style: none;
  float: left;
  border-right: #cfcfcf solid 1px;
}
.head_right li a {
  padding: 2px 12px;
}
.head_right .sp_li {
  border-right: none;
}
.head_right .sp_li .block_qr {
  margin-top: -1px;
}
.head_right .sp_li .block_qr i {
  margin: -1px 10px 0px 0px;
  font-style: italic;
}
.head_right .sp_li .block_qr i img {
  vertical-align: middle;
}

.top_referrer {
  padding: 20px 9%;
  font-size: 14px;
}
.top_referrer p {
  float: left;
}
.top_referrer ul {
  float: left;
  padding: 0;
}
.top_referrer ul li {
  list-style: none;
  float: left;
  border-right: solid 1px;
}
.top_referrer ul li a {
  padding: 2px 13px;
}
.top_referrer ul .sp_li {
  border: none;
}

.top_center {
  padding-left: 9%;
}
.top_center .logo {
  float: left;
  height: 70px;
}
.top_center .search {
  float: left;
  margin: 10px 80px;
  width: 33%;
  height: 40px;
  line-height: 40px;
  border: solid 2px #4385f5;
}
.top_center .search .search_type {
  float: left;
  border-right: 1px solid #fff;
  width: 100px; /*IE6 only*/
  font-size: 14px;
}
.top_center .search .search_type a {
  color: #000;
  display: block;
  padding: 0 15px;
}
.top_center .search .search_type a:hover {
  text-decoration: none;
  background: url();
}
.top_center .search .search_type i {
  position: absolute;
  margin-top: -23px;
  margin-left: 75px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333333 transparent transparent transparent;
}
.top_center .search .search_type:hover i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.5s;
}
.top_center .search .search_type ul {
  display: none;
  position: absolute;
  width: 100px;
}
.top_center .search .search_type li {
  border: 1px solid #dddcdc;
  background-color: #fff;
  width: 100%; /*IE6 only*/
  text-align: center;
}
.top_center .search input {
  border: none;
  border-left: 1px solid #dddcdc;
  height: 25px;
  padding-left: 10px;
  font-size: 14px;
  width: 50%;
  color: #979797;
  caret-color: #979797;
}
.top_center .search input:focus::-moz-placeholder {
  opacity: 0;
}
.top_center .search input:focus::placeholder {
  opacity: 0;
}
.top_center .search #search {
  float: right;
  border: none;
  width: 100px;
  height: 40px;
  background-color: #4385f5;
  color: #fff;
  font-size: 18px;
}

.nav {
  height: 60px;
  line-height: 60px;
  background-color: #4385f5;
  padding-left: 9%;
}
.nav li {
  float: left;
  color: #fff;
  width: 10%;
  list-style: none;
  position: relative;
}
.nav li a {
  display: block;
  font-size: 18px;
  text-align: center;
}
.nav li::after {
  content: "";
  width: 1px;
  height: 14px;
  display: inline-block;
  position: absolute;
  right: -1px;
  top: 23px;
  background-color: #fff;
}
.nav li:hover a {
  background-color: #1b62dc;
}